@charset "UTF-8";

@font-face {
  font-family: "tibi";
  src:url("fonts/tibi.eot");
  src:url("fonts/tibi.eot?#iefix") format("embedded-opentype"),
    url("fonts/tibi.woff") format("woff"),
    url("fonts/tibi.ttf") format("truetype"),
    url("fonts/tibi.svg#tibi") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "tibi" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="tb-"]:before,
[class*=" tb-"]:before {
  font-family: "tibi" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.tb-add-remove-modify:before {
  content: "\61";
}
.tb-arrow-right:before {
  content: "\62";
}
.tb-banthao:before {
  content: "\63";
}
.tb-bookmark:before {
  content: "\64";
}
.tb-bookmark-hollow:before {
  content: "\66";
}
.tb-camera:before {
  content: "\69";
}
.tb-checkmark:before {
  content: "\67";
}
.tb-chevron-right:before {
  content: "\68";
}
.tb-chiase:before {
  content: "\6a";
}
.tb-chevron-left:before {
  content: "\6b";
}
.tb-verified-1:before {
  content: "\6d";
}
.tb-checkmark-circle:before {
  content: "\6e";
}
.tb-phone-circle:before {
  content: "\6f";
}
.tb-close-square:before {
  content: "\65";
}
.tb-writing:before {
  content: "\70";
}
.tb-location-map:before {
  content: "\71";
}
.tb-location:before {
  content: "\72";
}
.tb-area:before {
  content: "\73";
}
.tb-email:before {
  content: "\74";
}
.tb-facebook:before {
  content: "\75";
}
.tb-facebook-square:before {
  content: "\76";
}
.tb-fire:before {
  content: "\77";
}
.tb-flower:before {
  content: "\78";
}
.tb-google-plus:before {
  content: "\79";
}
.tb-google-plus-square:before {
  content: "\7a";
}
.tb-heart:before {
  content: "\42";
}
.tb-ice-cream:before {
  content: "\43";
}
.tb-instagram:before {
  content: "\44";
}
.tb-instagram-square:before {
  content: "\45";
}
.tb-kham-pha:before {
  content: "\46";
}
.tb-invalid:before {
  content: "\47";
}
.tb-leaf:before {
  content: "\48";
}
.tb-link:before {
  content: "\4a";
}
.tb-list:before {
  content: "\4b";
}
.tb-loading-1:before {
  content: "\4c";
}
.tb-loading-2:before {
  content: "\4d";
}
.tb-loading-3:before {
  content: "\4e";
}
.tb-male:before {
  content: "\4f";
}
.tb-male-female:before {
  content: "\50";
}
.tb-caret-down:before {
  content: "\51";
}
.tb-bedroom:before {
  content: "\41";
}
.tb-bathroom:before {
  content: "\52";
}
.tb-thumb-up:before {
  content: "\53";
}
.tb-thumb-down:before {
  content: "\54";
}
.tb-notification:before {
  content: "\55";
}
.tb-pinterest:before {
  content: "\56";
}
.tb-refresh:before {
  content: "\57";
}
.tb-search:before {
  content: "\58";
}
.tb-small-chevron-left:before {
  content: "\59";
}
.tb-small-chevron-right:before {
  content: "\5a";
}
.tb-snowflake:before {
  content: "\30";
}
.tb-star:before {
  content: "\31";
}
.tb-flip:before {
  content: "\32";
}
.tb-account:before {
  content: "\33";
}
.tb-verified:before {
  content: "\34";
}
.tb-valid:before {
  content: "\35";
}
.tb-twitter-square:before {
  content: "\36";
}
.tb-twitter:before {
  content: "\37";
}
.tb-triangle-danger:before {
  content: "\38";
}
.tb-home:before {
  content: "\39";
}
.tb-tivi:before {
  content: "\21";
}
.tb-money:before {
  content: "\22";
}
.tb-visibility-on:before {
  content: "\23";
}
.tb-visibility-off:before {
  content: "\24";
}
.tb-verified-house:before {
  content: "\26";
}
.tb-youtube:before {
  content: "\27";
}
.tb-send:before {
  content: "\29";
}
.tb-share:before {
  content: "\2a";
}
.tb-large-sidebar:before {
  content: "\2b";
}
.tb-like:before {
  content: "\2d";
}
.tb-small-sidebar:before {
  content: "\2e";
}
.tb-back:before {
  content: "\2f";
}
.tb-badge-hide:before {
  content: "\3a";
}
.tb-badge-show:before {
  content: "\3b";
}
.tb-bin-empty:before {
  content: "\3c";
}
.tb-love:before {
  content: "\3d";
}
.tb-menu:before {
  content: "\3e";
}
.tb-mini-sidebar:before {
  content: "\3f";
}
.tb-more:before {
  content: "\40";
}
.tb-nickname:before {
  content: "\5b";
}
.tb-picture:before {
  content: "\5d";
}
.tb-pin-star:before {
  content: "\5e";
}
.tb-pinned-star:before {
  content: "\5f";
}
.tb-reply:before {
  content: "\60";
}
.tb-seen:before {
  content: "\7b";
}
.tb-group:before {
  content: "\7c";
}
.tb-flag:before {
  content: "\7d";
}
.tb-emotion:before {
  content: "\7e";
}
.tb-edit:before {
  content: "\5c";
}
.tb-comments:before {
  content: "\e000";
}
.tb-comment:before {
  content: "\e001";
}
.tb-close:before {
  content: "\e002";
}
.tb-block-comment:before {
  content: "\e003";
}
.tb-request:before {
  content: "\e004";
}
.tb-device:before {
  content: "\e005";
}
.tb-clock:before {
  content: "\e006";
}
.tb-female:before {
  content: "\6c";
}
.tb-add-people:before {
  content: "\25";
}
.tb-account-image:before {
  content: "\2c";
}
.tb-plus:before {
  content: "\e007";
}
.tb-bin-full:before {
  content: "\28";
}
