/* ----- start */
$cyan: #33e0ff;
$humility: #777;
$blue: #007AFF;
$grey: #BEBEBE;
$orange: #ff9000;

$brand-primary: darken(#428bca, 6.5%);
$brand-secondary: #e25139;
$brand-success: #5cb85c;
$brand-warning: #f0ad4e;
$brand-danger: #d9534f;
$brand-info: #5bc0de;

$text-color: #333;

$font-size-base: 14px;
$font-family-sans-serif: "Helvetica Neue", Helvetica, sans-serif;
$color-gray-light: #C2C2C2;
$color-gray-medium: #757575;
$color-gray-extreme-light: #F0F0F0;
$color-gray-ultra-light: #F7F7F7;
$color-red: #F21848;
$color-red-light: #ff474c;
$color-red-dark: #c63829;
$color-red-nav: #F13D50;
$color-orange: #FF464C;
$color-blue: #007AFF;
$color-green: #34BF49;
$color-gray-600: #757575;
$color-gray-400: #C2C2C2;
$color-gray-300: #F0F0F0;
$color-gray-200: #F7F7F7;

$color-background: #FAFAFA;
$color-background-medium: #E8EAEE;

$text-color: #000;
$text-color-red: #FF2B31;

$float-shadow: 0px 10px 10px 0px rgba(0,0,0,0.19), 0px 6px 3px 0px rgba(0,0,0,0.23);
$flat-shadow: 0px 1px 1px 0px rgba(0,0,0,0.12), 0px 1px 1px 0px rgba(0,0,0,0.24);

$highestZIndex: 600;
/* ----- end */
