.buttonclick{
	background-color: #34BF49;
	margin-bottom: 20px;
	border-radius: 3px;
	border: none;
	height: 50px;
	width: 300px;
	text-align: center;
	font-size: 20px;
	color: white;
	opacity: 100%;
}
